<footer class="footer" id="footer">
            <div class="footer-column__wrapper">
                <div class="footer-column foot_logo">
                    <img src="/static/images/logo_zhide.png" style="width:120px;padding-top:30px">
                </div>
                <div class="content_foot">
                    <div class="footer-column">
                    <a href="#" class="title">发现</a>
                    <a href="#">值得首页</a>
                    <a href="#">值得精选</a>
                </div>
                <div class="footer-column">
                    <a href="#" class="title">联系与合作</a>
                    <a href="#">联系我们</a>
                    <a href="#">用户反馈</a>
                    <a href="#"></a>
                </div>
                
                <div class="footer-column">
                    <a href="#" class="title">关注我们</a>
                    <a href="http://weibo.com/u/2786413907">新浪微博：@PxCao</a>
                    <a href="#">邮箱：fanshyiis@163.com</a>
                    
                </div>
                </div>
                <div class="foot_cricle">
                    <div class="foot_cricle_1"></div>
                    <div class="foot_cricle_2"></div>
                    <div class="foot_cricle_3"></div>
                </div>
                <!-- <div class="footer-column">
                     <img src="/static/images/weixin.png" style="width:100px;padding-left:40px">
                    
                </div> -->
            </div>
            <div class="footer-copyright">
                <p>©Copyright 值得工作室<span class="divider">|</span><a href="#">京ICP备16019587号-2</a></p>
            </div>
        </footer>
        <div class="elevator-wrap">
    <a href="javascript:;" id="elevator"></a>
    <a href="javascript:;" id="plus"></a>
    <div id="plus_popup">
      <a href="/index/newZhide"><i class="icon-pencil"></i>写值得</a>
      <a href="/user"><i class="icon-board"></i>个人中心</a>
      
    </div>
  </div>